@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "thin";
  src: url("/src/assets/fonts/jamsil-thin.ttf");
}
@font-face {
  font-family: "light";
  src: url("/src/assets/fonts/jamsil-light.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/src/assets/fonts/jamsil-regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("/src/assets/fonts/jamsil-bold.ttf");
}
@font-face {
  font-family: "extrabold";
  src: url("/src/assets/fonts/jamsil-extrabold.ttf");
}