@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, div, span, applet, object, iframe, h3, h4, p, blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  font-family: 'regular';
  margin: 0;
}

h1, h2, thead {
  font-family: 'bold';
}


tr, td, h5, h6 {
  font-family: 'light';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden;
}

/* 반응형 헤더 */
.hamburger{
  display: none;
  @media screen and (max-width: 641px) {
    display: block;
  }
}

.sidebar {
  display: flex;
  @media screen and (max-width: 640px) {
    display: none;
  }
}

/* table custom */

table.htCore thead th {
  background-color: #FFBCBC !important;
  font-size: 14px;
  font-weight: 600;
}

table.htCore tbody tr, table.htCore tbody td, table.htCore th {
  font-size: 14px;
}

table.htCore tr.odd td {
  background: #fafbff;
}
/*
  A stylesheet customizing Handsontable style
*/

.handsontable {
  text-align: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.collapsibleIndicator {
  text-align: center;
}

.handsontable .htRight .changeType {
  margin: 3px 1px 0 13px;
}


.swal2-icon {
  border: none;
}

/*Modal custom*/
.swal2-icon {
  border: none;
}
.swal2-modal {
  border-radius: 30px;
}
.swal2-confirm {
  width: 150px;
}
.swal2-cancel {
  width: 150px;
}
.swal2-title {
  font-size: 25px;
  text-align: center;
}
.swal2-html-container {
  margin: 5px !important;
}
.swal2-input {
  margin-top: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  height: 32px;
  padding: 5px;
  margin-bottom: 8px;
}

.swal2-div, .swal2-textarea  {
  margin-top: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  height: 100px;
  padding: 5px;
  overflow-y:scroll;
}

.swal2-textarea {
  max-height: 300px;
}
.swal2-file {
  display: none;
}
.swal2-label {
  text-align: left;
  margin-top: 5px;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-modal .ant-modal-footer {
  text-align:center;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-modal .ant-modal-content{
  padding: 40px;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: white;
}


/*Image Uploader custom*/
:where(.css-dev-only-do-not-override-1vr7spz).ant-upload-wrapper.ant-upload-picture-card-wrapper, :where(.css-dev-only-do-not-override-1vr7spz).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
  text-align: center;
}

.ant-form-item-label {
  text-align: left !important;
}


@font-face {
  font-family: "thin";
  src: url("/src/assets/fonts/jamsil-thin.ttf");
}
@font-face {
  font-family: "light";
  src: url("/src/assets/fonts/jamsil-light.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/src/assets/fonts/jamsil-regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("/src/assets/fonts/jamsil-bold.ttf");
}
@font-face {
  font-family: "extrabold";
  src: url("/src/assets/fonts/jamsil-extrabold.ttf");
}